@{
    ViewBag.Title = "Reset password confirmation";
}

    <section class="banner-area relative" id="home" style="background-image: url(/Content/img/header-bg.jpg); ">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        RESET PASSWORD CONFIRMATION
                    </h1>
                </div>
            </div>
        </div>
    </section>

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
